#content {
	width: 800px;
}

#main-form {
	width: 220px;
}

#social {
	width: 490px;
	float: right;
	padding-top: 118px;
}

#tweet {
	margin-bottom: 22px;
}

#search-email {
	display: inline;
}

#search-alert {
	float: right;
	width: 180px;
	height: 18px;
	margin: 0px;
	padding: 4px;
	padding-left: 14px;
	padding-right: 14px;
}