body {
	color: grey;
	font-family: Purisa, sans-serif;
	font-size: big;
	font-weight: bold;
}

legend {
	font-size: 250%;
}

p {
	width: 100%;
}

a:link {
	text-decoration: none;
	color: blue;
}
a:visited {

	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a:active {
	text-decoration: none;
}

fieldset {
	border: 3px solid grey;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
}

input {
	border: 3px solid grey;
	border-radius: 15px;
	height: 30px;
	font-family: Purisa, sans-serif;
	font-weight: bold;
}

input[type="text"] {
	width: 100%;
	font-size: large;
}

input[type="submit"] {
	margin-left: 86%;
	width: 15%;
	background-color: white;
}

