body {
	color: grey;
	font-family: Delius, sans-serif;
	font-size: 18px;
}

fieldset {
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	border: 3px solid grey;
	border-radius: 15px;
}

legend {
	font-size: 220%;
	font-weight: bold;
}

input {
	border: 2px solid grey;
	border-radius: 15px;
	height: 30px;
	font-family: Delius, sans-serif;
}

input[type="text"] {
	width: 100%;
	font-size: large;
}

input[type="submit"] {
	border: 3px solid grey;
	margin-left: 86%;
	width: 15%;
	background-color: grey;
	font-weight: bold;
	font-size: 100%;
	color: white;
}

input:focus {
	outline: none;
	border: 2px solid black;
	border-radius: 15px;
}


p {
	width: 100%;
}

a:link {
	text-decoration: none;
	color: blue;
}
a:visited {

	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a:active {
	text-decoration: none;
}

footer {
	text-align: center;
}

footer ul {
	padding-left: 0px;
}

footer ul li {
	display: inline;
}

