body {
	color: grey;
	font-family: Verdana;
	font-size: normal;
}

legend {
	font-size: 150%;
}

p {
	width: 100%;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline; 
	color: blue;
}

a:active {
	text-decoration: none;
}

fieldset {
	border: 1px solid grey;
	width: 30%;
}

input[type="text"] {
	width: 100%;
	background-color: white; 
	border: 1px solid grey;
}

input[type="submit"] {
	margin-left: 85%;
	width: 15%;
	background-color: white; 
	border: 1px solid grey;
}