// colors
$body-color: #ffffff;
$title-color: #1abc9c;
$text-color: #34495e;
$link-color: #2980b9;
$link-hover-color: #3498db;

// screens
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 80px 10% 30px;
  max-width: 600px;
  text-align: left;
  font-family: 'Times', serif;
  font-weight: lighter;
  background-color: $body-color;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &.fa:hover {
    text-decoration: none;
  }

  &#sign_in {
    letter-spacing: -1px;
    font-weight: 100;

    &:before {
      padding-right: 5px;
    }
  }
}

h1, p, ul {
  padding: 0;
  margin: 10px 0 10px;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
  letter-spacing: -1px;
  color: $title-color; 
}

ul#links {
  margin-top: 20px;
  list-style: none;

  & > li {
    display: inline;

    & + li {
      margin-left: 10px;
    }
  }
}

@media(min-width: $screen-sm) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}

