<h1>Sempre na Lista</h1>
<p>Hey, parece que muita coisa mudou desde que voltei para Porto Alegre. Novas casas abriram, velhas casas fecharam, o nosso querido Cabaret foi devorado pelas chamas e o Pedro voltou pro Rio. Pois bem, é hora de atualizar esse site para essa nova realidade. Em breve voltaremos a funcionar \o/</p>
