<h1>Sempre na Lista</h1>
<p>Muita coisa mudou desde que voltei para Porto Alegre. Novas casas abriram, o nosso querido <a href="http://bit.ly/1qv1VH4">Cabaret</a> foi devorado pelas chamas e o <a href="http://twitter.com/lunks">Pedro</a> voltou pro Rio. Então é hora de atualizar este serviço para a nova realidade. Em breve voltaremos a funcionar!</p>
<ul id="links">
  <li>
    <a class="fa fa-github-alt fa-lg" href="http://github.com/vvgomes/semprenalista"></a>
  </li>
  <li>
    <a class="fa fa-twitter fa-lg" href="http://twitter.com/vvgomes"></a>
  </li>
</ul>
