%article
  %h2 
    Sobre...
  %p{:id => "about"}
    %a{:href => "http://github.com/vvgomes/semprenalista"}
      %img{:src => "images/gh.png"}
    %a{:href => "http://about.me/vvgomes"}
      %img{:src => "images/me.png"}  

