%article
  %img{:id => "avatar", :src => "images/avatar.png"}
  %p{:id => "about"}
    Desenvolvido por&nbsp;
    %a{:href => "http://about.me/vvgomes"}Vinicius Gomes.
  %p
    Se tiver interesse, voce pode acessar o c&oacute;digo-fonte do aplicativo,
    submeter contribui&ccedil;&otilde;es ou reportar bugs por
    %a{:href => "http://github.com/vvgomes/semprenalista"}aqui.

