<div>
  <p>
    Tem certeza que quer sair do <strong>Sempre na Lista</strong>?
  <p class="controls">
    <input id='yes' class="proceed" type='button' value='Sim' />
    <input id='no' class="abort" type='button' value='Não' />
  </p>
</div>