%fieldset
	%legend Feito!
	%p
		Ok. A partir de agora, sempre que voce chegar no 
		%a{ :href => 'http://www.cabaretpoa.com.br' } Cabaret
		ou no 
		%a{ :href => 'http://www.beco203.com.br' } Beco
		n&atilde;o esque&ccedil;a de dizer: 
		%em Com licen&ccedil;a, meu nome est&aacute; na lista!