%link{:rel => "stylesheet", :type => "text/css", :href => "css/done.css"}

%h3
  Feito!
%p
  A partir de agora, sempre que voce chegar no
  = succeed ',' do
    %a{:href => "http://www.cabaretpoa.com.br"} Cabaret
  = succeed ',' do
    %a{:href => "http://www.beco203.com.br"} Beco
  = succeed ',' do
    %a{:href => "http://www.laikaclub.com.br"} Laika
  e da
  %a{ :href => "http://www.casadolado.com.br"} Casadolado
  n&atilde;o esque&ccedil;a de dizer:
  %em Meu nome t&aacute; na lista!

#social

  #tweet
    %a#twitter.twitter-share-button{:href => "https://twitter.com/share", 'data-text' => 'Party more, pay less! \o/', 'data-size' => 'medium', 'data-hashtags' => 'semprenalista', 'data-url' => 'http://semprenalista.com'} Tweet

  #like
    %iframe{:src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsemprenalista.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80&amp;appId=291277474263762", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:80px;", :allowTransparency => "true"}
  
%script{:src => "js/done.js"} 