%p
  Feito! A partir de agora, sempre que voce chegar no
  %a{ :href => 'http://www.cabaretpoa.com.br' }Cabaret
  ,&nbsp;
  %a{ :href => 'http://www.beco203.com.br' }Beco
  &nbsp;ou&nbsp;
  %a{ :href => 'http://www.laikaclub.com.br' }Laika
  n&atilde;o esque&ccedil;a de dizer:
  %em Hey, meu nome est&aacute; na lista!
%p{:style => 'text-align: right;'}
  %a{:id => "twitter", :href => "https://twitter.com/share", :class => "twitter-share-button", 'data-text' => 'Party more, pay less! \o/', 'data-size' => 'large', 'data-hashtags' => 'semprenalista', 'data-url' => 'http://semprenalista.heroku.com'}Tweet
