!!!
%html
	%head
		%title Sempre na Lista!
	%body
		%h1 Feito!
		
		%p
			Ok. Agora mesmo eu vou colocar voce e seus amigos na lista de descontos das festas desta semana.
			A partir da&iacute;, a cada segunda-feira eu vou colocar voces na lista para todas as festas daquela semana.
			
		%p
			Na pr&oacute;xima vez em que voce chegar no 
			%a{ :href => 'http://www.cabaretpoa.com.br' } Cabaret
			ou no 
			%a{ :href => 'http://www.beco203.com.br' } Beco
			, n&atilde;o esque&ccedil;a de dizer: 
			%em Com licen&ccedil;a, meu nome est&aacute; na lista!