%p
  Feito! A partir de agora, sempre que voce chegar no
  %a{ :href => 'http://www.cabaretpoa.com.br' }Cabaret
  &nbsp;ou na&nbsp;
  %a{ :href => 'http://www.beco203.com.br' }Beco
  ,&nbsp;n&atilde;o esque&ccedil;a de dizer:
  %em Com licen&ccedil;a, meu nome est&aacute; na lista!

