%p
  Oi! Preencha o formulario abaixo para colocar voce e seus amigos
  na lista de descontos de todas as festas do&nbsp;
  %a{:href => "http://www.cabaretpoa.com.br"}Cabaret
  ,&nbsp;
  %a{:href => "http://www.beco203.com.br"}Beco
  ,&nbsp;
  %a{:href => "http://www.laikaclub.com.br/"}Laika
  &nbsp;e da
  %a{ :href => 'http://www.casadolado.com.br' }Casadolado
  &nbsp;pra sempre :)
  
%form{:id => "form", :action => "/", :method => "post"}
  - unless @clubber.valid?
    %p{:class => "error"}
      Email j&aacute cadastrado :(
  %p
    %input{:name => "name",:type => "text",:placeholder => "Seu nome",:required => "true",:value => @clubber.name}
  %p
    %input{:name => "email",:type => "email",:placeholder =>"Seu email",:required => "true",:value => @clubber.email}
  %p
    %input{:name => "friends[0]", :type => "text", :placeholder => "Um amigo", :value => @clubber.friends[0]}
  %p
    %input{:name => "friends[1]", :type => "text", :placeholder => "Outro amigo", :value => @clubber.friends[1]}
  %p
    %input{:name => "friends[2]", :type => "text", :placeholder => "Mais um", :value => @clubber.friends[2]}
  %p
    %input{:name => "friends[3]", :type => "text", :placeholder => "O último", :value => @clubber.friends[3]}
  #buttons
    #ok
      %input{:name => "submit", :type => "submit", :value => "OK", :class => "ok"}
    #tweet  
      %a{:id => "twitter", :href => "https://twitter.com/share", :class => "twitter-share-button", 'data-text' => 'Party more, pay less! \o/', 'data-size' => 'medium', 'data-hashtags' => 'semprenalista', 'data-url' => 'http://semprenalista.heroku.com'}Tweet  
#like
  %iframe{ :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsemprenalista.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80&amp;appId=291277474263762", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:80px;", :allowTransparency => "true" }
%footer
  %small
    Se voce j&aacute; se cadastrou, clique&nbsp;
    %a{:id => "edit", :href => "#"}aqu&iacute;
    &nbsp;para editar.
    
#overlay{:class => "invisible"}
  %div
    %p
      &nbsp;&nbspSeu email...&nbsp;
      %span{:class => "error invisible" }n&atilde;o foi encontrado :(
    %p
      %input{:type => "search", :id => "email_to_search", :autosave => "unique", :results => "5"}
    %p{:id => "close"}
      %a{:href => "#"}Fechar
      &nbsp;&nbsp
    
%script{:src => "index.js"} 