// encoding: utf-8
%link{:rel => "stylesheet", :type => "text/css", :href => "css/index.css"}

%h1
  Sempre na Lista
%p
  Esteja na lista de descontos de todas as festas do 
  = succeed ',' do
    %a{:href => "http://www.cabaretpoa.com.br"} Cabaret
  = succeed ',' do
    %a{:href => "http://www.beco203.com.br"} Beco
  %a{:href => "http://www.laikaclub.com.br"} Laika
  e 
  %a{ :href => "http://www.casadolado.com.br"} Casadolado
  pra sempre :)

#content
  
  - if @clubber.errors.any?
    #error.alert.fade.in.alert-error
      %button.close{"data-dismiss" => "alert"} ×
      %strong Ops! 
      = @clubber.errors.messages.keys.map{|k|@clubber.errors.messages[k].join(' ')}.join(' ')

  - if flash[:notice]
    #notice.alert.fade.in.flash
      %button.close{"data-dismiss" => "alert"} ×
      = flash[:notice]

  #social
    #tweet  
      %a#twitter.twitter-share-button{:href => "https://twitter.com/share", 'data-text' => 'Party more, pay less! \o/', 'data-size' => 'medium', 'data-hashtags' => 'semprenalista', 'data-url' => 'http://semprenalista.com'} Tweet
    #like
      %iframe{:src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsemprenalista.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80&amp;appId=291277474263762", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:80px;", :allowTransparency => "true"}

  - if false
    %form.well#main-form{:action => "/", :method => "post"}
      %p
        %input{:name => "name", :type => "text", :placeholder => "Seu nome", :required => "true", :value => @clubber.name, :autofocus => true}
      %p
        %input{:name => "email", :type => "email", :placeholder => "Seu email", :required => "true", :value => @clubber.email}
      %p
        %input{:name => "friends[0]", :type => "text", :placeholder => "Um amigo", :value => @clubber.friends[0]}
      %p
        %input{:name => "friends[1]", :type => "text", :placeholder => "Outro amigo", :value => @clubber.friends[1]}
      %p
        %input{:name => "friends[2]", :type => "text", :placeholder => "Mais um", :value => @clubber.friends[2]}
      %p
        %input{:name => "friends[3]", :type => "text", :placeholder => "O último", :value => @clubber.friends[3]}
      %p
        %button.btn.btn-success#submit{:type => "submit", :name => "submit"}
          %i.icon-ok.icon-white
          OK
        
        %button.btn.btn-danger.invisible#delete{:href => "#delete-box", "data-toggle" => "modal"}
          %i.icon-trash.icon-white
          Deletar

      %input{:type => "hidden", :name => "_method", :value => "post"}  
  - else
    Hey novos users, a app ta em manutencao pois o pessoal do beco, laika e casa do lado resolveu mudar seus sites ao mesmo tempo. Antigos users: ces ainda tao nas listas do cabaret \o/ To consertando agora.

  /%footer
  / %small
  /   Se voce já se cadastrou, clique 
  /   %a#edit{:href => "#search-box", "data-toggle" => "modal"} aquí
  /   para editar.

#search-box.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h3 
      Buscar
  .modal-body
    #search-alert.alert.alert-block.alert-error.fade.in.invisible
      Não encontrado :(
    .input-append
      %input#search-email.span6{:size => "50", :type => "text", :placeholder => "email", :autofocus => true}
      %button#search-ok.btn.btn-primary{:type => "button"} OK

#delete-box.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h3 
      Deletar
  .modal-body
    %p
      Quer realmente remover sua inscrição?&nbsp;&nbsp;
      %button.btn#delete-no{"data-dismiss" => "modal", :href => "#"} Não
      %button.btn.btn-primary#delete-yes{"data-dismiss" => "modal", :href => "#"} Sim

%script{:src => "js/lib/bootstrap-modal.js"}
%script{:src => "js/lib/bootstrap-alert.js"}
%script{:src => "js/lib/EventEmitter.min.js"}
%script{:src => "js/index.js"}
