%html
  %head
    %title Sempre na Lista!
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.js"}
    %script{:src => "javascripts.js"}
    %link{:href => "styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 Sempre na Lista!
    %p
      Oi. Preencha o formulario abaixo e eu vou, generosamente, colocar voce e seus amigos
      na lista de desconto de todas as festas do
      %a{:href => "http://www.cabaretpoa.com.br"} Cabaret
      e do
      %a{:href => "http://www.beco203.com.br"} Beco
      pra sempre :)
    %form{:action => "/subscribe", :method => "post"}
      %fieldset
        %p
          %label{:for => "name"} Seu nome:
          %input{:name => "name", :type => "text"}/
        %p
          %label{:for => "email"} Seu email:
          %input{:name => "email", :type => "text"}/
        %p
          %label{:for => "friends[0]"} Um amigo:
          %input{:name => "friends[0]", :type => "text"}/
        %p
          %label{:for => "friends[1]"} Outro amigo:
          %input{:name => "friends[1]", :type => "text"}/
        %p
          %label{:for => "friends[2]"} Mais um:
          %input{:name => "friends[2]", :type => "text"}/
        %p
          %label{:for => "friends[3]"} O ultimo:
          %input{:name => "friends[3]", :type => "text"}/
        %p
          %input{:name => "submit", :type => "submit", :value => "OK"}/