!!!
%html
  %head
    %title Sempre na Lista
    
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/common.css"}
    
    %meta{:property => "og:title", :content => "semprenalista"}
    %meta{:property => "og:type", :content => "other"}
    %meta{:property => "og:url", :content => "http://semprenalista.com"}
    %meta{:property => "og:site_name", :content => "semprenalista"}
    %meta{:property => "fb:admins", :content => "viniciusvgomes"}

    %script{:src => "js/lib/jquery-1.7.2.min.js"}
    %script{:src => "js/lib/my.js"}
    %script{:src => "js/twitter.js"}

  %body

    #nav.navbar
      .navbar-inner
        .container
          %a.brand{:href => "/"} Sempre na Lista
          .nav-collapse
            %ul.nav
              %li#home
                %a{:href => "/"} Home
              %li#parties
                %a{:href => "/parties"} Festas
              %li#about
                %a{:href => "/about"} Sobre

    .container-fluid
      .row-fluid
        .span12
          .hero-unit
            != yield

    %a{:href => "https://github.com/vvgomes/semprenalista"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}