%h2
  Quem j&aacute; est&aacute; na lista...
%ul{:id => "nightclubbers"}
  - clubbers.each do |c|
    %li
      %p
        = c.name
        - c.friends.each do |f|
          %li
            %p
              = f

