%h2
  Quem j&aacute; est&aacute; na lista...
%ul{:id => "nightclubbers"}
  %li
    %p
      Vinicius Vieira Gomes
  %li
    %p
      Filipe Sabella Barciella
  %li
    %p
      Thiago Silva Marano
  %li
    %p
      Daniela Pereira de Souza
  %li
    %p
      Guilherme Flores da Cunha Motta
  %li
    %p
      Giuliano Vieceli
  %li
    %p
      Filipe Gomes Esperando
  %li
    %p
      Fulvio Silas
  %li
    %p
      Mario Heber da Silva Acosta Lopes Filho
  %li
    %p
      Joao Araujo Silveira
  %li
    %p
      Adalibe Gerico Variales
  %li
    %p
      Edivaldo Santos Falcao

