<div>
  <p>
    &nbsp;&nbspSeu email...&nbsp;
    <span class="error">n&atilde;o foi encontrado :(</span>
  <p>
    <input type="search" id="search" autosave="unique" results="5" />
  <p class="controls">
    <input id='go' class="proceed" type='button' value='OK' />
    <input id='close' class="abort" type='button' value='Cancelar' />
  </p>
</div>    
<script src="search.js"></script> 