<html>
<head>
  <title>Sempre na Lista Logs</title>
  <style type="text/css">
    body {
      line-height: 90%;
      font-size: 12px; 
      font-family: sans-serif;
      color: green;
      background-color: black;
    }
    h2 {
      color: white;
    }
  </style>
</head>
<body>
  <h2>Last Subscriptions</h2>
  <% subscriptions.each do |s| %>
    <p><%= s.to_s %></p>
  <% end %>
  <h2>Not Subscribed</h2> 
  <% missing.each do |m| %>
    <p><%= m[:email] %>&nbsp;to&nbsp;<%= m[:party_url] %></p>
  <% end %>
</body>
</html>

